<div class="card mb-4" *ngIf="member" routerLink="/members/{{member.userName}}">
    <div class="card-img-wrapper">
        <img [src]="member.profilePictureUrl ? member.profilePictureUrl : 'https://i.imgur.com/cChftSS.png'" alt="{{member.userName}}" class="card-img-top">
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
            <div class="icon-and-name">
                <i class="fa fa-user fa-lg me-2"></i>
                <span class="user-name">{{member.userName}}</span>
            </div>
        </h6>
        <p class="card-text text-muted text-center">{{member.userId}}</p>
    </div>
</div>