<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" >Blog App</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <ng-container *ngIf="accountService.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/posts">News Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/members">Members</a>
                </li>
            </ng-container>
        </ul>
        <div class="column" *ngIf="(accountService.currentUser$ | async) as user">
            <span class="text">Welcome {{user.username}}</span>
            <button class="btn btn-primary" type="button" routerLink="/members/{{user.username}}">My Profile</button>
            <button class="btn btn-primary" type="button" (click)="logout()" routerLink="/home">Logout</button>
        </div>
      </div>
  </nav>