.input {
  margin-bottom: 15px;
}

.password-field {
  position: relative;
}

.show-password-btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #777;
}