.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-2{
    display: flex;
    width: 30%;
}